---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import AboutItems from "@/components/AboutItems.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import BadgeFloat from "@/components/BadgeFloat.astro";
import Banner from "@/components/Banner.astro";
import Bootcaps from "@/components/Bootcamps.astro";
---

<Layout
  title="Lighthouse School - Centro de tutorias semipersonalizada"
  description="Centro de tutorias semipersonalizada"
  image="logo.webp"
>
  <main class="w-full bg-[#ffe900] h-screen" id="inicio">
    <Hero />
  </main>

  <div class="clip-diagonal p-6 bg-black text-white text-center">
    <h2>Proverbios 22:6</h2>
  </div>

  <div class="">
    <SectionContainer id="nosotros" class="p-4 px-6 sm:p-6 sm:px-8">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        Nosotros
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>

  <div class="bg-image">
    <SectionContainer class="p-4 px-6">
      <AboutItems />
    </SectionContainer>
  </div>

  <div class="clip-diagonal p-6 bg-black text-white text-center">
    <h3>La educación es el arma más poderosa que puedes usar para cambiar el mundo</h3>
  </div>

  <div class="w-full bg-[#ffe900]">

    <SectionContainer id="bootcamps" class="p-4 px-6">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        Bootcamps
      </h2>
      <Bootcaps />
    </SectionContainer>

  </div>

  <SpeedInsights />

  <style>
    .bg-image {
      background-image: url("https://sox.sg/wp-content/uploads/2022/02/single-dotted.png");
      background-repeat: repeat;
      padding: 60px 15px;
      background-size: auto;
    }

    .clip-diagonal {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    @media screen and (max-width: 768px) {
      .bg-image {
        padding: 0 0 40px;
        background-size: 5%;
      }
    }
  </style>
</Layout>
